body{
  background-color: rgb(196, 180, 145);
}

.board-container{
  
  display: flex;
  gap: 30px;
}

.outer{
  font-size: 1.6rem;
  padding: 10px; 
  border: 2px solid hsla(0, 1%, 37%, 0.5);
  border-radius: 5px;
  color: hsla(17, 85%, 49%, 0.5);
  margin-left: 400px;
  
} 

.review{
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.add-button{
  font-size: 1.6rem;
  padding: 10px; 
  border: 2px solid hsla(0, 1%, 37%, 0.5);
  border-radius: 5px;
  color:hsla(0, 1%, 37%, 0.5);
  cursor: pointer;
  transition: background 0.3s ease;

}
.add-button:hover{
  background-color:  rgb(210, 203, 203);

}

.task-input{
margin: 10px;
display: flex;
  gap: 20px;
}

.card{
  color:rgb(130, 83, 83);
  margin-left: 10px;
}

